.container-fluid {
  position: fixed;
  background: #B0BEC5;
  z-index: 1000;
  padding: 26px 0px;
 }
 p {
  color: #333;
  font-size: 1.2rem;
 }
 button {
  border: 1px solid #607D8B;
  border-radius: 4px;
  display: inline-block;
  color: #FFF;
  cursor: pointer;
  padding: 5px 16px;
  background: #607D8B;
 }
