
<app-header></app-header>

<app-titulo title="Para continuar informe seu e-mail"></app-titulo>

<div class="container form-login">
  <div class="row justify-content-md-center">
    <div class="col-md-5 text-center">

      <app-card>
        <figure>
          <img src="assets/icon-user.png" />
        </figure>

        <form (ngSubmit)="onSubmit()">
          <div class="form-group">
            <input class="form-control"
                    name="email"
                    type="mail"
                    placeholder="E-mail"
                    [(ngModel)]="email" />
          </div>

          <button type="submit"
                  class="btn btn-primary">Entrar</button>

          <a routerLink="/cadastro">Ainda não tenho uma conta</a>
        </form>
      </app-card>

    </div>
  </div>
</div>
