
<app-header></app-header>

<app-titulo title="Para se cadastrar, complete os dados"></app-titulo>

<div class="container form-login">
  <div class="row justify-content-md-center">
    <div class="col-md-8 text-center">

      <app-card>
        <form (ngSubmit)="cadastrar()">
          <div class="row">
            <div class="col-lg-12">
              <div class="form-group">
                <input class="form-control"
                        name="nome"
                        [(ngModel)]="usuario.nome"
                        type="text"
                        placeholder="Nome" />
                </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <input class="form-control"
                        name="email"
                        [(ngModel)]="usuario.email"
                        type="mail"
                        placeholder="E-mail" />
              </div>
            </div>

            <div class="col-lg-6">
              <div class="form-group">
                <input class="form-control"
                        name="senha"
                        [(ngModel)]="usuario.senha"
                        type="password"
                        placeholder="Senha" />
              </div>
            </div>

            <div class="col-lg-4">
              <button type="submit"
                      class="btn btn-primary">cadastrar</button>
            </div>

            <div class="col-lg-8">
              <p>Ao cadastrar-me, declaro que sou maior de idade e aceito as Politicas de privacidade e os Termos de condições do AnuncieOn.com</p>
            </div>
          </div>
        </form>
      </app-card>

      <br>

      <a routerLink="/login">Já tenho uma conta</a>

    </div>
  </div>
</div>
