/* You can add global styles to this file, and also import other style files */
body {
  background-color: #F5F5F5;
}

.form-login {
  margin-top: -80px;
}
.form-login .btn {
  width: 100%;
  margin-bottom: 16px;
}



.no-border .ui-table tr td {
  border: none!important;
  padding-top: 10px;
  padding-bottom: 10px;
 }
 .btn-destaque {
  background-color: #FFC926;
  border: none;
  color: #FFF;
  padding: 12px 22px;
  border-radius: 2px;
  cursor: pointer;
 }
 .link-ajuda {
  display: block;
  text-align: center;
  margin-top: 16px;
 }
 .line-info {
  display: block;
  color: #999;
  font-size: 12px;
 }
